<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <security:http use-expressions="true" auto-config="true">

        <security:form-login login-page="/login"
                             authentication-failure-url="/login?valido=false"
                             login-processing-url="/autentificar" username-parameter="email"
                             password-parameter="password" default-target-url="/" />

        <security:logout logout-url="/logout"
                         logout-success-url="/login" delete-cookies="JSESSIONID"/>


        <security:access-denied-handler error-page="/error-403"/>

        <security:intercept-url pattern="/area/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_COLABORADOR')"/>
        <security:intercept-url pattern="/busqueda/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/correo/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/estado/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/direccion/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/escuela/**" access="hasAnyRole('ROLE_COLABORADOR')"/>
        <security:intercept-url pattern="/grado/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/idioma/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/invitacion/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/nivel/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/palabra_clave/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/proyecto/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/tarea/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/tipoproyecto/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/usuario/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/mis-invitaciones" access="hasAnyRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/chat/**" access="hasAnyRole('ROLE_ADMIN')"/>
        
        <security:intercept-url pattern="/usuario/perfil" access="hasAnyRole('ROLE_ADMIN')"/>
        
        
       
    </security:http>
    <bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </bean>

    <security:authentication-manager id="authenticationManager">
        <security:authentication-provider>
            <security:password-encoder ref="encoder"/>
            <security:jdbc-user-service
                    data-source-ref="dataSource"
                    users-by-username-query="SELECT email,password,activo FROM USUARIO WHERE email=?"
                    authorities-by-username-query="SELECT email, rol FROM USUARIO WHERE email=?"/>
            <security:password-encoder ref="encoder" />
        </security:authentication-provider>
    </security:authentication-manager>
</beans>
