<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/security  http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">


    <security:http use-expressions="true">

        <security:form-login login-page="/login"
                             authentication-failure-url="/login?valido=false"
                             login-processing-url="/autentificar" username-parameter="email"
                             password-parameter="password" default-target-url="/blog/1"/>

        <security:logout logout-url="/logout"
                         logout-success-url="/login" delete-cookies="JSESSIONID"/>

        <security:access-denied-handler error-page="/error-403"/>

        <security:intercept-url pattern="/escuela/**"
                                access="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR')" />

    </security:http>

    <security:authentication-manager id="authenticationManager">
        <security:authentication-provider>

            <security:jdbc-user-service
                    data-source-ref="dataSource"
                    users-by-username-query="SELECT email,password,activo FROM USUARIO WHERE email=?"
                    authorities-by-username-query="SELECT email, rol FROM USUARIO WHERE email=?"/>

        </security:authentication-provider>
    </security:authentication-manager>
    <security:global-method-security secured-annotations="enabled" jsr250-annotations="enabled"
                                     authentication-manager-ref="authenticationManager"/>
</beans>
