/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.dropdown-menu li input{
	padding: 8px 14px;
	color: #555;
	text-decoration: none;
	display: block;
	clear: both;
	font-weight: 300;
	line-height: 18px;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	background: transparent;
	color: white;
}


.portlet.box.poli > .portlet-title, .portlet > .portlet-body.poli, .portlet.poli, .portlet > .portlet-body.poli, .portlet.poli i{
	background-color: #6A0888;
	color: white !important;
}